# Directories
.vs/
bin/
bin-int/

# Files
*.user
.idea
Sandbox/HazelProfile-Runtime.json
Sandbox/HazelProfile-Shutdown.json
Sandbox/HazelProfile-Startup.json
Hazelnut/HazelProfile-Runtime.json
Hazelnut/HazelProfile-Shutdown.json
Hazelnut/HazelProfile-Startup.json
*.ini
